doctype html
html(lang='en')

	include ../../components/head/mixin-head.pug
	+head({
		title: stuff.books.items.tokyo.title,
		baseUrl: '../..'
	})

	body

		include ../../components/showcase/mixin-showcase.pug
		+showcase(stuff.books.items.tokyo)

		script(src='../../sale.js')
