@require('../../variables.styl')

$thumbnail-size = 160px
$pricetag-size = 4em

.category
	margin 2em 0

.category-items
	margin 1em 0

.category-item
	display inline-block
	margin-bottom 1em
	margin-right 1em
	text-align center
	vertical-align top
	width $thumbnail-size
	transition opacity $transition-quick

	&:hover

		.category-item-thumbnail
			box-shadow inset 0 0 0 0 #fff

		.category-item-price
			background-color $bg-accent
			color $text-inverse

.category-item-gone
	opacity .3

	&:hover
		opacity 1

.category-item-link
	display block
	position relative

.category-item-title
	display block
	margin 1em 0

.category-item-thumbnail
	background-position center
	background-repeat no-repeat
	background-size cover
	border-radius $thumbnail-size
	box-shadow inset 0 0 0 1em rgba(#fff, .2)
	display block
	height $thumbnail-size
	transition box-shadow $transition-quick
	width $thumbnail-size

.category-item-price
	background-color $bg-inverse
	border-radius $pricetag-size
	box-shadow 0 0 0 3px $bg
	color $text-inverse
	font 600 .9em/$pricetag-size monospace
	height $pricetag-size
	letter-spacing -.05em
	position absolute
	right 0
	text-transform uppercase
	top $thumbnail-size
	transform translateY(-100%)
	transition all $transition-quick
	white-space nowrap
	width $pricetag-size
