doctype html
html(lang='en')

	include ../../components/head/mixin-head.pug
	+head({
		title: 'Buy My Launchpad',
		baseUrl: '../..'
	})

	body

		include ../../components/showcase/mixin-showcase.pug
		+showcase(stuff.audio.items[0])

		script(src='../../sale.js')
