@require('../../variables.styl')

.header
	font-size 1.2em
	max-width 32em
	padding 2em 0

@media (max-width: $width-small-screen), (max-height: $height-small-screen)

	.header
		font-size 1.1em
		max-width auto
		padding 0
