mixin header()
	h1 Привет
	p Уезжаю из Петербурга, избавляюсь от накопившенгося имущества, которое не охота везти с собой.
	p Тут еще не все выложено, в течение недели появится еще. Проходите, присаживайтесь, приводите друзей. <3
