mixin header()
	header.header
		h1 Привет
		p Уезжаю из Петербурга, избавляюсь от накопившегося имущества, которое не охота или нет возможности везти с собой.
		p Время от времени здесь будет появляться что-нибудь еще, что не влезает в сумку.
		p Проходите, присаживайтесь, присматривайтесь, приводите друзей.
