mixin header()
	header.header
		h1 Привет
		p Уезжаю из Петербурга, избавляюсь от накопившегося имущества, которое не охота везти с собой.
		p Тут еще не все выложено, в течение недели довыкладываю остальное. Проходите, присаживайтесь, приводите друзей. <3
