@require('../../variables.styl')

$action-button-size = 42px
$icon-size = 8px

@keyframes plop
	0%
		opacity .0
	100%
		opacity .3

.showcase
	background-color $bg
	color $text
	height 100%
	left 0
	position fixed
	top 0
	width 100%
	overflow-y auto

	&.showcase-slideshow-active
		.showcase-gallery-action-start
			display none

		.showcase-gallery-action-pause
			display inline-block

	&.showcase-details-folded

		.showcase-details
			width auto

		.showcase-description-content
		.showcase-contact
			display none

		.showcase-description
			border-radius $action-button-size
			box-shadow 0 0 0 .4em rgba($bg, .2)
			padding 0 2em

		h1
			line-height $action-button-size
			margin 0

		.showcase-action-toggle-details
			animation plop 1s
			margin 1em
			transform rotate(270deg)

	.showcase-gallery-action-start
		display inline-block

	.showcase-gallery-action-pause
		display none

	button
		background-color $bg
		border 0
		border-radius $action-button-size
		box-shadow 0 0 0 .4em rgba($bg, .2)
		color $text
		cursor pointer
		display block
		font inherit
		height $action-button-size
		margin 0
		outline 0
		padding 0
		position relative
		transition all $transition-quick
		width $action-button-size

		&:hover
			background-color $bg-accent
			box-shadow 0 0 0 0 $bg-accent

			.showcase-icon
				border-color $text-inverse

	.showcase-action-toggle-details
		background-color transparent !important
		box-shadow none !important
		margin 2em
		opacity .3
		position absolute
		right 0
		top 0
		transform rotate(90deg)
		transition all $transition-quick
		z-index 10

		&:hover
			opacity 1

			.showcase-icon
				border-color $text

	.showcase-action-go-home
		background-color $bg-accent
		bottom 0
		color $text-inverse
		line-height $action-button-size
		margin 1em
		padding 0 1em
		position fixed
		right 0
		transition all $transition-quick
		z-index 100

		&:hover
			background-color $bg
			color $text

.showcase-details
	left 0
	margin 0
	padding 1em
	position absolute
	top 0
	width 32em
	z-index 1

.showcase-description
.showcase-contact
	padding 2em

.showcase-description
	background-color $bg
	color $text
	position relative

	h1
		padding-right 1em

	.pricetag
		bottom 0
		right 0
		font-size 1.2em
		background-color $bg-accent
		box-shadow 0 0 0 3px $bg-inverse
		transform translate(-50%, 50%)

.showcase-sold

	.pricetag
		background-color $bg-inverse
		box-shadow 0 0 0 3px $bg

.showcase-contact
	background-color $bg-inverse
	color $text-inverse

.showcase-gallery
	bottom 0
	left 0
	position fixed
	right 0
	top 0
	z-index 0

.showcase-images
	bottom 0
	left 0
	position absolute
	right 0
	top 0

.showcase-image
	background-position center
	background-repeat no-repeat
	background-size cover
	bottom 0
	left 0
	opacity 0
	position absolute
	right 0
	top 0
	transform scale(3)
	transition all $transition-slow

	&.showcase-image-active
		opacity 1
		transform scale(1)

.showcase-gallery-actions
	margin 0
	padding 1em
	position absolute
	right 0
	text-align center
	top 0
	white-space nowrap

.showcase-gallery-action
	display inline-block
	vertical-align top
	margin 0
	margin-right 1em

	&:last-child
		margin-right 0

.showcase-icon
	background-color transparent
	display inline-block
	border-color $text
	height $icon-size
	left 50%
	position absolute
	top 50%
	transform translate(-50%, -50%)
	width $icon-size

	&.showcase-icon-back
		border-left solid 2px
		border-top solid 2px
		transform translate(-30%, -50%) rotate(-45deg)

	&.showcase-icon-forward
		border-bottom solid 2px
		border-right solid 2px
		transform translate(-70%, -50%) rotate(-45deg)

	&.showcase-icon-play
		border solid 5px
		border-top-color transparent !important
		border-left-color transparent !important
		transform translate(-75%, -50%) rotate(-45deg)

	&.showcase-icon-pause
		border-left solid 3px
		border-right solid 3px

	&.showcase-icon-fold
		border-top solid 2px
		border-left solid 2px
		transform translate(-30%, -50%) rotate(-45deg)

		&:after
			background-color transparent
			border solid 2px $text
			border-radius 100em
			content ''
			height 400%
			left 50%
			position absolute
			top 50%
			transform translate(-57.5%, -57.5%)
			width 400%

@media (max-width: $width-small-screen), (max-height: $height-small-screen)

	$action-button-size-small-screen = 32px

	.showcase

		button
			background-color $bg-inverse
			border-radius $action-button-size-small-screen
			box-shadow 0 0 0 2px $text-inverse
			height $action-button-size-small-screen
			opacity .3
			width $action-button-size-small-screen

			&:active
				opacity 1

			.showcase-icon
				border-color $text-inverse

		.showcase-action-go-home
			bottom auto
			left 0
			right auto
			top 0

	.showcase-details
		padding 0
		right 0
		top 60%
		width auto
		font-size 1.1em

		.showcase-action-toggle-details
			display none

	.showcase-gallery
		bottom 40%

	.showcase-gallery-actions
		bottom 0
		left 50%
		right auto
		top auto
		transform translateX(-50%)

@media (max-width: $width-tiny-screen), (max-height: $height-tiny-screen)

	.showcase-details
		font-size .9em
