$text = #222
$text-inverse = #fff

$bg = #fff
$bg-inverse = #222
$bg-accent = #f04

$transition-quick = .3s ease
$transition-slow = 1.2s ease

$width-small-screen = 640px
$height-small-screen = 480px

$width-tiny-screen = 320px
$height-tiny-screen = 240px
